/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
html,

body,
#root {
  overflow-x: hidden;
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html,
body,
#root {
  overflow-x: hidden;
}

/* Google Translate Top Bar & Tooltip Hider */
.goog-te-banner-frame,
.goog-te-balloon-frame,
#goog-gt-tt,
.goog-te-spinner-pos,
iframe.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}